* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding-top: 90px;
}

.section-3 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding-bottom: 40px;

}

.section-4 {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

header {
    display: flex;
}

.container-1 {
    width: 100%;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0px 8px 35px 0px #0000000D;
}

.bg-color {
    background: black;
}

/* ------------------------main------------------------------ */
.z-2 {
    z-index: 2;
}

.responsive-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.events {
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

li {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a {

    color: black;
}

nav {
    padding-top: 20px;
    justify-content: space-around;
}

.name {
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.date {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-4 a {
    color: white;
}

.section-4 h4 {
    color: white;
    margin-bottom: 12px;
}

.img-width-100 {
    width: 100%;
    max-width: 90.05px;
    height: 62px;

}

.section-4 {
    position: relative;
}

.section-4 .para-bottom {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
}


/* -------------------------head classes----------------------------------------- */
.head {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    position: relative;
}

.head:before {
    content: "";
    position: absolute;
    width: 107px;
    height: 8px;
    top: 0;
    background-color: #2C49FE;

}

.head:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 8px;
    background-color: #01C8FF;
    right: 47%;
}

.head-2 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
}

.head-2:before {
    content: "";
    position: absolute;
    width: 107px;
    height: 8px;
    top: 0;
    background-color: #2C49FE;

}

.head-2:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 8px;
    background-color: #01C8FF;
    right: 47%;

}

/* -----------------------grid properties------------------------------------------- */
.disply-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.img-width {
    width: 100%;
}

.img-1-position {
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-2-position {
    grid-column: 2/3;
    grid-row: 1/2;
}

.img-3-position {
    grid-column: 3/4;
    grid-row: 1/3;
}

.img-4-position {
    grid-column: 1/3;
    grid-row: 2/3;
}

.img-5-position {
    grid-column: 1/2;
    grid-row: 3/4;
}

.img-6-position {
    grid-column: 2/4;
    grid-row: 3/4;
}


/* ------------------------button----------------------------------- */
.button-1 {
    width: 118px;
    height: 46px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 23px;
    border: none;
    color: white;
    background-color: #2C49FE;
    cursor: pointer;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

.button-1:hover {
    color: blue;
    background-color: white;
    transition: all 300ms linear;
    transform: scale(1.2);
}

.button-2 {
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    background-color: #EAEDFF;
    color: black;
    border: none;
    margin-right: 13px;
    cursor: pointer;
    width: 233px;
    height: 46px;
}

.button-3 {
    width: 233px;
    height: 46px;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    background-color: #2C49FE;
    color: white;
    border: none;
    cursor: pointer;
}

    .remove-btn {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

    }

.show-more-button {
    color: aliceblue;
    background-color: #18205C;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    height: 62px;
    max-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------para----------------------------------------- */
.para {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    color: #666666;
}

.para-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
    margin-top: 16px;
    margin-bottom: 38px;
}

.para-3 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 642px;
    width: 100%;
    height: 100%;
}

.para-4 {
    max-width: 719px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.para-5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #606062;
    max-width: 1199px;
    width: 100%;
    height: 100%;
}

.para-6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: white;
    width: 100%;
    max-width: 346.18px;
    height: 100%;

}

/* ----------------------------tell us section-------------------------------------- */
.comment-box {
    max-width: 1319px;
    width: 100%;
    height: 70px;
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding: 10px;
    padding-left: 80px;
    color: #666666;
    font-size: 20px;
    font-weight: 400;

}

.position-relative {
    position: relative;
}

.section-3 .post-comment-button {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    right: 10px;
    color: white;
    top: 10px;
    padding: 11px 28px 11px 28px;
    background-color: #2C49FE;
}

.profile-photo {
    position: absolute;
    cursor: pointer;
    left: 8px;
    top: 8px;
}

/* -----------------------tell us card--------------------------------------- */


.box {
    width: 100%;
    background-color: #F1F1F5;
    height: 100%;
    padding: 14px 20px 20px 20px;
    border-radius: 0px 20px 20px 20px;
}

.username {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

/* -------------------------img-------------------------------- */

.img-1 {
    width: 100%;

}

.img-3 {
    width: 100%;
}

.img-4 {
    max-width: 1320px;
    height: 1026px;
    width: 100%;


}

/* ---------------------------col classes-------------------------------------- */
.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}


.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/* -----------------short cut class--------------------------- */
.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-left {
    text-align: left;
}

.font-1 {
    font-family: var(--poppins);
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.gap-35 {
    gap: 35px;
}

.gap-30 {
    gap: 30px;
}

.gap-5 {
    gap: 5px;
}

.gap-15 {
    gap: 15px;
}

.mt-134 {
    margin-top: 134px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-24 {
    margin-top: 24px;
}

.ml-77 {
    margin-left: 77px;
}

.mb-77 {
    margin-bottom: 77px;
}

.mb-47 {
    margin-bottom: 47px;
}

.mt-36 {
    margin-top: 36px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.w-100 {
    width: 100%;
}

.img {
    max-width: 98px;
    height: 49px;
}



/* -------------------------Responsive------------------------------ */
@media (max-width:992px) {
    ul {
        right: -100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 77px;
        width: 100%;
        height: 100%;
        text-align: left;
        gap: 0;
        color: white;
        justify-content: center;
        align-items: center;
        z-index: 4;

    }

    a {
        color: white;
    }

    .span {
        width: 35px;
        height: 3px;
        background-color: black;
        display: flex;
        margin-bottom: 5px;

    }

    label {
        float: right;
        color: white;
        z-index: 5;
        padding-top: 17px;
    }

    .check:checked~ul {
        right: 0%;
        transition: all 300ms linear;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .col-md-6    {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-sm-12 {
        margin-bottom: 12px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .section-4 {
        position: relative;
    }

    .section-4 .para-bottom {
        font-family: var(--poppins);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: white;
        bottom: 0;
        position: unset;
        padding-bottom: 10px;
    }
    .img-1-position {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .img-2-position {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .img-3-position {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .img-4-position {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .img-5-position {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .img-6-position {
        grid-column: 1/3;
        grid-row: 5/6;
    }

}


@media (max-width:576px) {


    .events {
        font-family: var(--poppins);
        font-size: 20px;
        font-weight: 700;
        line-height: 48.6px;
        color: #2C49FE;
    }

    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }



    .sm-jc {
        justify-content: center;

    }

    .sm-jcsb {
        justify-content: space-between;
    }

    nav {
        padding-top: 20px;
        justify-content: space-between;
    }

    .name {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }

    .para {
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px;
        color: #666666;
        margin-top: 12px;
    }

    .para-3 {
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        max-width: 642px;
        width: 100%;
        height: 100%;
        margin-bottom: 12px;
    }


}

@media (min-width:320px) {
    .sm-col {
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width:768px) {
    .sm-col {
        flex-direction: row;
        gap: 10px;
    }
}